<!-- NAV LINK -->
<ul id="menu" class="navbar-nav mx-auto   mt-lg-0">
</ul>
<!-- NAV LANG LINK -->
<div id="lang_container" class="desktop-block-lg my-auto"> 
    <span data-lang="EN" class="lang_box"> 
               <img src="../images/loghi/lang_icon/eng.png" width="60" alt="lingua Inglese" title="lingua Inglese"> 
               </span>
    <span data-lang="IT" class="lang_box"> 
               <img src="../images/loghi/lang_icon/ita.png" width="60" alt="lingua Italiana" title="lingua Italiana"> 
               </span>
</div>