.pswp{
  z-index:2000;
}
.my-gallery figure {
  /* 
  NO GUTTER 
  margin: 0;width: 25%;
  */
  /* with gutter */
  margin:0.5%;width: 24%;
}



@media screen and ( max-width: 992px){

    .my-gallery figure {
      /* 
      NO GUTTER 
      margin: 0;width: 50%;
      */
    /* with gutter */
    margin:0.5%;width: 49%;
  }
}

@media screen and ( max-width: 768px){

    .my-gallery figure {
      /* 
      NO GUTTER 
      margin: 0;width: 100%;
      */
      /* with gutter */
      margin:0;width: 100%;
      margin-bottom:1rem;
  }
}


@media screen and ( max-width: 576px){

  .my-gallery figure {
    /* 
    NO GUTTER 
    margin: 0;width: 100%;
      */
      /* with gutter */
    margin:0;width:100%;
    margin-bottom:1rem;
  }
}