<section id="main_footer" class="section_auto">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img id="ferife_logo_img" title="Ferifè Logo" alt="Baby Moto Logo" title="Baby Moto Logo" class="text-center" width="200px;"
                     src="../images/loghi/brand_logo.png">
                <br><br>
            </div>
            <div class="col-md-2 col-sm-6">
                <h5 class="text-uppercase">Site Map</h5>
                <hr>
                <ul class="list-unstyled">
                    <li><a href="baby-moto" target="_blank">Babymoto</a></li>
                    <li><a href="products" target="_blank">Products</a></li>
                    <li><a href="ducati-babymoto" target="_blank">Ducati Babymoto</a></li>
                    <li><a href="balance-bike-blog" target="_blank">News</a></li>
                </ul>
                <br><br>
            </div>

            <div class="col-md-2 col-sm-6">
                <h5 class="text-uppercase">Info</h5>
                <hr>
                <ul class="list-unstyled">
                    <li><a href="https://www.facebook.com/BabyMotoItalia/" target="_blank">Facebook</a>
                    </li>
                    <li><a href="https://teknikwood.it/?___store=english&___from_store=italiano/" target="_blank">TeknikWood</a></li>
                    <li><a href="privacy-cookie-policy" target="_blank">Privacy & Cookies</a></li>
                    <li><a href="contacts" target="_blank">Contacts</a></li>
                </ul>
                <br><br>
            </div>
            <div class="col-md-5 col-sm-12">
                <h5 class="text-uppercase">Legal Information</h5>
                <hr>
                <address>
                    <ul class="list-unstyled">
                        <li><b>Studio Arredi Srl</b></li>
                        <li>Viale Rimembranza, 30 12068 - Narzole (Cn) Italia</li>
                        <li><em>VAT n. and fiscal Code:</em> 00587680042</li>
                        <li><em>N. REA CN</em> 110863</li>
                        <!--<li><em>Cap. Sociale:</em> 10.000 € i.v</li>-->
                        <li><em>Tel:</em><a href="tel:+39017377038"> +39 0173 77038</a></li>
                        <li><em>Mail:</em><a href="mailto:info@teknikwood.it"> info@teknikwood.it</a></li>
                    </ul>
                </address>
                <br><br>
            </div>
        </div>
    </div>
</section>


<section id="bottom_footer" class="section_auto" style="background-color:#575757;">
    <div class="container">

        <div class="row">

            <div class="col-md-12 text-white text-center">
                <p style="margin-top:0.5rem;">
                    <small>Copyright&copy; <b>AZIENDA AGRICOLA BAGNOD ROBERTO</b> - <span id="currentYear">2017</span> <br>Credits <a
                            style="color:#e62e31;" href="http://www.spinlab.it" target="_blank"> www.spinlab.it </a> &
                        <a style="color:#e62e31;" href="http://contradamanti.it/" target="_blank"> contradamanti.it </a>
                    </small>
                </p>
            </div>
        </div>

    </div>
</section>
<script>
    var data = new Date();
    var gg, mm, aaaa;
    gg = data.getDate() + "/";
    mm = data.getMonth() + 1 + "/";
    aaaa = data.getFullYear();
    $("#currentYear").html(aaaa);
</script>
